/* BODY */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    max-width: 100%;
  }


body {
  font-family: "Inter", sans-serif;
  /*background-image: url('../img/image.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;*/


  width: 100%;
  height: 100%;
  background: radial-gradient(
    125% 125% at -2% 101%,
    #9FA08C 20%,   /* Moss Green nuevo */
    #A27D76 45%,   /* Ashy Rose */
    #BB9E7F 70%,   /* Beige */
    #CBB2AE 100%   /* Peach Pink */
  );



  overflow-x: hidden;
  margin: 0;
  min-height: 100vh; 
}
  



/* LOADER */

.section-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
} 


.show-loader {
  display: flex;
}

.loader {
  position: relative;
  align-items: center;
  width: 40px;
  height: 60px;
  animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader:before,
.loader:after {
  content: "";
  background: red;
  width: 40px;
  height: 60px;
  border-radius: 50px 50px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(45deg);
  transform-origin: 50% 68%;
  box-shadow: 5px 4px 5px #0004 inset;
}
.loader:after {
  transform: rotate(-45deg);
}
@keyframes heartBeat {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

/* BIENVENIDA */


.titulo-bienvenida {
    display: block; 
    animation: titulo-bienvenida 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-iteration-count: 1;
    animation-delay: 2s;
} 

@keyframes titulo-bienvenida {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(350px);
    }
}
/* FONTS */


.fleur-de-leah-regular {
  font-family: "Fleur De Leah", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 8rem;
}

.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}  

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

@font-face {
  font-family: 'cochocib-script-latin-pro';
  src: url(../fonts/cochocib-script-latin-pro.ttf);
  font-weight: bold;
  font-style: bold;
}


/* OTHERS */


  .david {
    margin-bottom: -100px;
  }


  .selva {
    margin-top: -100px;
  }

  .titulo-novios {
    color: #ffffff;
    font-family: 'cochocib-script-latin-pro';
    font-size: 8rem;
  }

  .titulo-novios1 {
    color: #ffffff;
    font-family: 'cochocib-script-latin-pro';
    font-size: 8rem;
  }

  .titulo-final {
    color: #ffffff;
  }

  .titulo-inicio {
    color: #ffffff;
    font-size: 6rem;
  }
  
  
  .el-uno {
    color: #50543A;
  }
  
  .linita {
    color: #ffffff;
  }

  .comilla {
    font-size: 4rem; 
    color: #D16F52;
  }


  .comilla1 {
    font-size: 4rem; 
    color: #D16F52;
  }

  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap');


  .fecha span {
      font-weight: 700;
  }
  

/* ===== Estilos base ===== */
.cuenta-atras {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.grupo {
  line-height: 0.9;
  text-align: center;
}

.grande {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 3rem;
  font-weight: 550;
  color: #ffffff;
}

.grande1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 550;
  color: #ffffff;
  margin: 0 auto;
  text-align: center !important;
}

.chico {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}

.countdown {
  min-height: 50px;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  gap: 1rem;
  text-align: center;
  font-size: 2em; /* Tamaño del texto */
  margin: 20rem;


  width: 50vw; /* Ajusta el tamaño para que sea responsive */
  height: auto; /* Asegúrate de que sea igual al ancho para un círculo perfecto */
  max-width: 700px; /* Tamaño máximo para pantallas grandes */
  max-height: 700px; /* Tamaño máximo para pantallas grandes */
}

.flores {
  position: absolute;
  z-index: -10;
}

/* ===== Ajustes responsivos ===== */
@media (max-width: 480px) {
  .grande {
    font-size: 2rem;
  }
  .cuenta-atras {
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .grande {
    font-size: 3.5rem;
  }
}

@media (width < 500px) {
  .cuenta-atras {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;   /* centra horizontal en grid */
    align-items: center;     /* centra vertical en grid */
  }
}

@media (width < 350px) {
  .cuenta-atras {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra horizontal en flex */
    align-items: center;     /* centra vertical en flex */
  }
}

.contenedor-ceremonia {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: fit-content;
    margin-top: 12rem; /* Centra el contenedor en el viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedor-ceremonia1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: fit-content;
    margin-top: 5rem; /* Centra el contenedor en el viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.retratos {
  font-size: 4.3rem;
  font-weight: 500;
}


.dia {
    margin-top: 3rem; /* Centra el contenedor en el viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
}

.lugar {
  margin-top: 3rem; /* Centra el contenedor en el viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
}

.fecha {
  color: #ffffff;
}

.dirección {
  color: #ffffff;
}

/* BOTON */ 

.el-btn {
  margin-top: 2rem; /* Centra el contenedor en el viewport */
}


.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #96562D;
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #D16F52 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #D16F52 20%, transparent 30%),
    radial-gradient(circle, #D16F52 20%, transparent 20%),
    radial-gradient(circle, #D16F52 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #D16F52 15%, transparent 20%),
    radial-gradient(circle, #D16F52 20%, transparent 20%),
    radial-gradient(circle, #D16F52 20%, transparent 20%),
    radial-gradient(circle, #D16F52 20%, transparent 20%),
    radial-gradient(circle, #D16F52 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #D16F52 20%, transparent 20%),
    radial-gradient(circle, #D16F52 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #D16F52 15%, transparent 20%),
    radial-gradient(circle, #D16F52 20%, transparent 20%),
    radial-gradient(circle, #D16F52 20%, transparent 20%),
    radial-gradient(circle, #D16F52 20%, transparent 20%),
    radial-gradient(circle, #D16F52 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* BOTON */ 

.titulo-ceremonia {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: hsl(0, 0%, 100%);
    font-size: 3em; /* Ajusta el tamaño del texto */
    z-index: 1;
}

.svg-ceremonia {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40rem;
}

  .gif-boda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw; /* Ajusta el tamaño para que sea responsive */
    height: 80vw; /* Asegúrate de que sea igual al ancho para un círculo perfecto */
    max-width: 200px; /* Tamaño máximo para pantallas grandes */
    max-height: 200px; /* Tamaño máximo para pantallas grandes */
    background-color: #F4C6C3; /* Color de fondo del círculo */
    border-radius: 50%; /* Convierte el cuadrado en un círculo */
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9); /* Sombra para el efecto */
  }

  .separador {
    margin-top: 15rem;
    margin-bottom: -7rem;
  }


.gif-card {
  display: flex; 
  justify-content: center;
  align-items: center;
}
  
.card {
  overflow: hidden;
  position: relative;
  background-color: #F4C6C3;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 290px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.header {
  padding: 1.25rem 1rem 1rem 1rem;
  background-color: #ffffff;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #FEE2E2;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.image svg {
  color: #DC2626;
  width: 1.5rem;
  height: 1.5rem;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
}

.title {
  color: #5f361c;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.message {
  margin-top: 0.5rem;
  color: #50543A;
  line-height: 1.25rem;
}

.modal-title {
  color: #5f361c;
}

.modal-subtitle {
  color: #50543A;  
}

.actions {
  margin: 0.75rem 1rem;
  background-color: #F9FAFB;
}

.desactivate {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #DC2626;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.cancel {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #374151;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #D1D5DB;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.titulo-regalos {
  font-size: 4rem;
}

.marco-flores {
  position: relative;
  width: 300px;
  margin-bottom: -7rem;
  z-index: 2;
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #000000;
  padding: 0.7em 3.3em 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #F4C6C3;
  border: 1px solid #F4C6C3;
  box-shadow: 6px 6px 12px #d9a9a6,
              -6px -6px 12px #f8d9d7;

}

.button2 > svg {
  height: 30px;
  position: absolute;
  padding: 0px 5px;
  margin-top: -4px;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #d9a9a6,
             inset -4px -4px 12px #f8d9d7;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #D16F52;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #535D45;
}

.button2:hover:before {
  top: -35%;
  background-color: #535D45;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #535D45;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.container12 {
  display: flex;
  gap: 10px;
}

.cards {
  background-color: #F4C6C3;
  height: 200px;
  width: 200px;
  flex: 1;
  border-radius: 16px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards:hover {
  flex: 2;
  background-color: #c48e919c;
}

.footer-flower {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  display: flex; /* Elimina el espacio en blanco debajo de las imágenes */
  justify-content: center;
}

.footer-flower img {
  width: 100%; /* Hace que la imagen abarque todo el ancho del contenedor */
  height: auto; /* Mantiene las proporciones de la imagen */
}

.techo {
  width: 50%; /* Hace que la imagen abarque todo el ancho del contenedor */
  height: auto; /* Mantiene las proporciones de la imagen */
  display: block; /* Elimina el espacio en blanco debajo de las imágenes */
}

.card {
  background-color: #F4C6C3 !important;
}

.header {
  background-color: #F4C6C3 !important;
}

.modal-content {
  background-color: #F4C6C3 !important;;
}

.color-text {
  color: #F4C6C3 !important;
  max-width: 600px;       /* límite de ancho */
  margin: 0 auto;         /* centra horizontalmente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;     /* centra el texto */
}


.color-text1 {
  color: #4E5740 !important;
}

.color-text2 {
  color: #ffffff !important;
}




#fluid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 1000;
    pointer-events: none;
}